<html>
    <head>
            <link href="/public/assets/styles.css" rel="stylesheet">
    </head>
    <body>
            <% include partials/nav.ejs %>
        <h1>Contacts</h1>
        <p>helllooooooooooooooooooooooooooooooo</p>
    </body>
</html>